 .u-section-1 {
  min-height: 1170px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: -8px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 74px;
  height: 36px;
  margin: -48px 0 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 5px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + -39px);
  padding: 9px 30px 11px 29px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0 calc(((100% - 1140px) / 2) + 110px);
  padding: 9px 30px 11px 29px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px calc(((100% - 1140px) / 2) + 153px) 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px calc(((100% - 1140px) / 2) + 26px) 0 auto;
  padding: 9px 30px 11px 29px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: normal;
  margin: -45px auto 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 60px calc(((100% - 1140px) / 2) + 242px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 222px);
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 512px;
  margin: -66px calc(((100% - 1140px) / 2) + 299px) 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
  min-height: 130px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 0 24px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 40px;
  height: 25px;
  margin: -90px calc(((100% - 1140px) / 2) + 259px) 0 auto;
}

.u-section-1 .u-rotation-parent-1 {
  width: 40px;
  height: 25px;
  margin: -25px auto 0 calc(((100% - 1140px) / 2) + 245px);
}

.u-section-1 .u-shape-3 {
  width: 40px;
  height: 25px;
  transform-origin: center center 0px;
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 89px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 0 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 89px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 88px;
}

.u-section-1 .u-container-layout-19 {
  padding: 13px 21px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -2px -2px 0 9px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 88px;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-22 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 104px;
}

.u-section-1 .u-container-layout-23 {
  padding: 30px 21px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 0 -2px 0 9px;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 104px;
}

.u-section-1 .u-container-layout-24 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 89px;
}

.u-section-1 .u-container-layout-25 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 89px;
}

.u-section-1 .u-container-layout-26 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 93px;
}

.u-section-1 .u-container-layout-27 {
  padding: 30px 21px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 0 -2px 0 9px;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 93px;
}

.u-section-1 .u-container-layout-28 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 82px;
}

.u-section-1 .u-container-layout-29 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 82px;
}

.u-section-1 .u-container-layout-30 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -42px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: -41px;
    margin-right: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2) + 22px);
  }

  .u-section-1 .u-list-1 {
    margin-top: 34px;
    margin-right: calc(((100% - 940px) / 2) + 299px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 68px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 259px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 3px;
    margin-left: calc(((100% - 940px) / 2) + 245px);
  }

  .u-section-1 .u-shape-3 {
    width: 44px;
    margin: 4px auto 60px calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 73px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 71px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 86px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 86px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 73px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 77px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 77px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 68px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 68px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 131px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-top: -26px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: -137px;
    margin-right: calc(((100% - 720px) / 2) + 208px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 197px;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 259px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 720px) / 2) + 245px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 720px) / 2) + 229px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 56px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 54px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 54px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 56px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 54px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 54px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 56px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 56px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-bottom: 5px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 59px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 52px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 52px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3168px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1326px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-list-1 {
    margin-top: -1332px;
    margin-right: calc(((100% - 540px) / 2) + 28px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 605px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 259px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 540px) / 2) + 229px);
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 84px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 58px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 57px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 84px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-26 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 86px;
  }

  .u-section-1 .u-container-layout-28 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 78px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 78px;
  }

  .u-section-1 .u-container-layout-30 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2311px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1150px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -1156px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + 259px);
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-left: calc(((100% - 340px) / 2) + 245px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 340px) / 2) + 229px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 53px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 53px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 51px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 54px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 49px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 49px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}